.footer {
	position: relative;
	z-index: 2;
	background: #6681a7;
	// .footer__container
	&__container {
	}
	// .footer__top
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 65px 15px 32px 15px;
		@media (max-width: $mobile) {
			flex-direction: column;
			padding: 24px 0px 24px 0px;
		}
	}
	// .footer__logo
	&__logo {
		margin: -10px 0px 0px 0px;
		img {
			height: 60px;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 15px 0px;
		}
	}
	// .footer__center
	&__center {
		flex: 1 1 100%;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		color: #ffffff;
		margin: 10px 44px 0px 117px;
		@media (max-width: $tablet) {
			text-align: center;
			margin: 0px 15px 0px 15px;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 25px 0px;
		}
		@media (max-width: $mobileSmall) {
			br {
				display: none;
			}
		}
	}
	// .footer__social
	&__social {
		display: flex;
		align-items: center;
		gap: 10px;
		margin: 10px 0px 0px 0px;
		@media (max-width: $tablet) {
			gap: 16px;
		}
		@media (max-width: 660px) {
			gap: 26px;
		}
	}
	// .footer__icon
	&__icon {
		&::before {
			transition: all 0.3s ease 0s;
			color: #ffffff;
			font-size: 20px;
		}
		&:nth-child(3) {
			&::before {
				font-size: 30px;
			}
		}
		&:hover {
			&::before {
				color: #f2f2f2;
			}
		}
	}
	// .footer__bottom
	&__bottom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0px 0px 45px 0px;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		color: #ffffff;
		text-align: center;
		@media (max-width: $mobile) {
			padding: 0px 0px 18px 0px;
		}
	}
}
